RewriteEngine On

# do not rewrite if the uri starts with /manager.php/
# to avoid infinite recursion.
RewriteCond %{REQUEST_URI} !^/manager\.php/

# do not rewrite asset uris.
RewriteCond %{REQUEST_URI} !^.*\.(js|css|jpg|png)$

# rewrite the [uri] to manager.php/[uri].
RewriteRule ^(.*)$ manager.php/$1 [QSA]

